.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
.idea/django-simple-mfa.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/sonarIssues.xml
.idea/vcs.xml
.idea/sonarlint/issuestore/0/1/015eb1abcb75b795841cca326557309e48227a01
.idea/sonarlint/issuestore/2/c/2c6a69c1b55ceda5675c296f5742b2c631e0fa17
.idea/sonarlint/issuestore/4/9/4931bc617bfed6ae8dd655b154907200add88d35
.idea/sonarlint/issuestore/4/b/4b8b94920119e6be43ac6fd13dd5c904f23b982c
.idea/sonarlint/issuestore/8/b/8b192394fd7680720bf4fdfcf71e845f94846344
.idea/sonarlint/issuestore/8/c/8c91c0296909b5ea3c496fde69e9dc44a6c6ae5f
.idea/sonarlint/issuestore/8/e/8e2edce0d507e1297474f25c00cae94258db38d8
.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
.idea/sonarlint/issuestore/9/4/949959d2b8cf00af940572f30743879b0e1716b9
.idea/sonarlint/issuestore/b/4/b46e606fce61729c891faa7cbd00cc872bea2c9a
.idea/sonarlint/issuestore/c/8/c89f39e8b3f6ce81992912a59debecac3f8491d3
.idea/sonarlint/issuestore/d/d/dd84574f268303f64d00c32a739c9e137255dbfd
.idea/sonarlint/issuestore/index.pb
